<!-- LogSpace Config Start -->
<tree-map>
  <entry>
    <string>com.liquidlabs.log.fields.FieldSet-filescanner</string>
    <com.liquidlabs.log.fields.FieldSet>
      <id>filescanner</id>
      <filePathMask>tag:FileScannerApp</filePathMask>
      <fileNameMask>*.out*</fileNameMask>
      <priority>100</priority>
      <expression>split(,,7)</expression>
      <timeStampField>0</timeStampField>
      <lastModified>1435651150993</lastModified>
      <fields>
        <com.liquidlabs.log.fields.field.GroupField>
          <name>dateTime</name>
          <funct>count()</funct>
          <visible>false</visible>
          <summary>false</summary>
          <index>false</index>
          <description></description>
          <groupId>1</groupId>
        </com.liquidlabs.log.fields.field.GroupField>A
        <com.liquidlabs.log.fields.field.GroupField>
          <name>level</name>
          <funct>count()</funct>
          <visible>false</visible>
          <summary>false</summary>
          <index>false</index>
          <description></description>
          <groupId>2</groupId>
        </com.liquidlabs.log.fields.field.GroupField>
        <com.liquidlabs.log.fields.field.GroupField>
          <name>Name</name>
          <funct>count()</funct>
          <visible>true</visible>
          <summary>false</summary>
          <index>false</index>
          <description></description>
          <groupId>3</groupId>
        </com.liquidlabs.log.fields.field.GroupField>
        <com.liquidlabs.log.fields.field.GroupField>
          <name>FilePath</name>
          <funct>count()</funct>
          <visible>false</visible>
          <summary>false</summary>
          <index>false</index>
          <description></description>
          <groupId>4</groupId>
        </com.liquidlabs.log.fields.field.GroupField>
        <com.liquidlabs.log.fields.field.GroupField>
          <name>Filename</name>
          <funct>count()</funct>
          <visible>true</visible>
          <summary>false</summary>
          <index>false</index>
          <description></description>
          <groupId>5</groupId>
        </com.liquidlabs.log.fields.field.GroupField>
        <com.liquidlabs.log.fields.field.GroupField>
          <name>ModifiedDate</name>
          <funct>count()</funct>
          <visible>true</visible>
          <summary>false</summary>
          <index>false</index>
          <description></description>
          <groupId>6</groupId>
        </com.liquidlabs.log.fields.field.GroupField>
        <com.liquidlabs.log.fields.field.GroupField>
          <name>Bytes</name>
          <funct>count()</funct>
          <visible>false</visible>
          <summary>false</summary>
          <index>false</index>
          <description></description>
          <groupId>7</groupId>
        </com.liquidlabs.log.fields.field.GroupField>
        <com.liquidlabs.log.fields.field.GroovyField>
          <name>DaysSinceModified</name>
          <funct>count()</funct>
          <visible>true</visible>
          <summary>false</summary>
          <index>false</index>
          <description></description>
          <groupId>8</groupId>
          <expression>groovy-script:
        return new Double(HoursSinceModified / 24).round(2)</expression>
        </com.liquidlabs.log.fields.field.GroovyField>
        <com.liquidlabs.log.fields.field.GroovyField>
          <name>HoursSinceModified</name>
          <funct>max()</funct>
          <visible>true</visible>
          <summary>false</summary>
          <index>false</index>
          <description></description>
          <groupId>9</groupId>
          <expression>groovy-script:
        return new Double(MinsSinceModified / 60).round(2)</expression>
        </com.liquidlabs.log.fields.field.GroovyField>
        <com.liquidlabs.log.fields.field.GroovyField>
          <name>MinsSinceModified</name>
          <funct>max()</funct>
          <visible>true</visible>
          <summary>false</summary>
          <index>false</index>
          <description></description>
          <groupId>10</groupId>
          <expression>groovy-script:
        return new Double(SecsSinceModified / 60).round(2)</expression>
        </com.liquidlabs.log.fields.field.GroovyField>
        <com.liquidlabs.log.fields.field.GroovyField>
          <name>SecsSinceModified</name>
          <funct>count()</funct>
          <visible>true</visible>
          <summary>false</summary>
          <index>false</index>
          <description></description>
          <groupId>11</groupId>
          <expression>groovy-script:
        def collected = new Date().parse(&quot;yyyy/MM/dd HH:mm:ss:SSS ZZZ&quot;,dateTime)
        def modified = new Date().parse(&quot;yyyy/MM/dd HH:mm:ss:SSS ZZZ&quot;,ModifiedDate)
        def elapsedMS = new Date(collected.time - modified.time)
        def elapsedSecs = elapsedMS.time / (1000)
        return new Double(elapsedSecs).round(2)</expression>
        </com.liquidlabs.log.fields.field.GroovyField>
        <com.liquidlabs.log.fields.field.GroovyField>
          <name>KB</name>
          <funct>count()</funct>
          <visible>true</visible>
          <summary>false</summary>
          <index>false</index>
          <description></description>
          <groupId>12</groupId>
          <expression>groovy-script:
        def a = (Bytes / 1024)
        return new Double(a).round(2)</expression>
        </com.liquidlabs.log.fields.field.GroovyField>
        <com.liquidlabs.log.fields.field.GroovyField>
          <name>MB</name>
          <funct>max()</funct>
          <visible>true</visible>
          <summary>false</summary>
          <index>false</index>
          <description></description>
          <groupId>13</groupId>
          <expression>groovy-script: 
        def b = (KB / 1024)
        return new Double(b).round(2)</expression>
        </com.liquidlabs.log.fields.field.GroovyField>
        <com.liquidlabs.log.fields.field.GroovyField>
          <name>GB</name>
          <funct>count()</funct>
          <visible>true</visible>
          <summary>false</summary>
          <index>false</index>
          <description></description>
          <groupId>14</groupId>
          <expression>groovy-script: 
        def b = (MB / 1024)
        return new Double(b).round(2)</expression>
        </com.liquidlabs.log.fields.field.GroovyField>
        <com.liquidlabs.log.fields.field.JRegExField>
          <name>ModifiedTime</name>
          <funct>count()</funct>
          <visible>true</visible>
          <summary>false</summary>
          <index>false</index>
          <description></description>
          <groupId>1</groupId>
          <expression>* (**)</expression>
          <synthSrcField>ModifiedDate</synthSrcField>
          <synthRegExp>.*?[^ ]+(.*)</synthRegExp>
        </com.liquidlabs.log.fields.field.JRegExField>
        <com.liquidlabs.log.fields.field.JRegExField>
          <name>File</name>
          <funct>count()</funct>
          <visible>true</visible>
          <summary>false</summary>
          <index>false</index>
          <description></description>
          <groupId>1</groupId>
          <expression>File:(**)</expression>
          <synthSrcField>FilePath</synthSrcField>
          <synthRegExp>.*?File:(.*)</synthRegExp>
        </com.liquidlabs.log.fields.field.JRegExField>
      </fields>
      <example>
        <string>2015/06/30 08:45:00:889 +0100,INFO, { &quot;Name&quot;:&quot;FLEXCUBE&quot;,&quot;File&quot;:&quot;K:\NORKOMAML\NORKOM_FEEDS\FLEXCUBE_DUBLIN\20140311_FlexcubeRegionalDealExtract.csv&quot;,&quot;Filename&quot;:&quot;20140311_FlexcubeRegionalDealExtract.csv&quot;,&quot;ModifiedDate&quot;:&quot;2014/03/11 07:50:40:660 +0000&quot;,&quot;Bytes&quot;:&quot;49189&quot; }</string>
        <string>2015/06/30 08:45:00:889 +0100,INFO, { &quot;Name&quot;:&quot;FLEXCUBE&quot;,&quot;File&quot;:&quot;K:\NORKOMAML\NORKOM_FEEDS\FLEXCUBE_DUBLIN\20140312_FlexcubeRegionalDealExtract.csv&quot;,&quot;Filename&quot;:&quot;20140312_FlexcubeRegionalDealExtract.csv&quot;,&quot;ModifiedDate&quot;:&quot;2014/03/12 08:05:24:183 +0000&quot;,&quot;Bytes&quot;:&quot;36280&quot; }</string>
        <string>2015/06/30 08:45:00:889 +0100,INFO, { &quot;Name&quot;:&quot;FLEXCUBE&quot;,&quot;File&quot;:&quot;K:\NORKOMAML\NORKOM_FEEDS\FLEXCUBE_DUBLIN\20140313_FlexcubeRegionalDealExtract.csv&quot;,&quot;Filename&quot;:&quot;20140313_FlexcubeRegionalDealExtract.csv&quot;,&quot;ModifiedDate&quot;:&quot;2014/03/13 13:09:58:728 +0000&quot;,&quot;Bytes&quot;:&quot;41414&quot; }</string>
        <string>2015/06/30 08:45:00:889 +0100,INFO, { &quot;Name&quot;:&quot;FLEXCUBE&quot;,&quot;File&quot;:&quot;K:\NORKOMAML\NORKOM_FEEDS\FLEXCUBE_DUBLIN\20140314_FlexcubeRegionalDealExtract.csv&quot;,&quot;Filename&quot;:&quot;20140314_FlexcubeRegionalDealExtract.csv&quot;,&quot;ModifiedDate&quot;:&quot;2014/03/14 07:56:32:305 +0000&quot;,&quot;Bytes&quot;:&quot;56470&quot; }</string>
        <string>2015/06/30 08:45:00:889 +0100,INFO, { &quot;Name&quot;:&quot;FLEXCUBE&quot;,&quot;File&quot;:&quot;K:\NORKOMAML\NORKOM_FEEDS\FLEXCUBE_DUBLIN\20140317_FlexcubeRegionalDealExtract.csv&quot;,&quot;Filename&quot;:&quot;20140317_FlexcubeRegionalDealExtract.csv&quot;,&quot;ModifiedDate&quot;:&quot;2014/03/17 07:51:37:253 +0000&quot;,&quot;Bytes&quot;:&quot;87978&quot; }</string>
      </example>
    </com.liquidlabs.log.fields.FieldSet>
  </entry>
  <entry>
    <string>com.liquidlabs.log.space.WatchDirectory-ds-1432627755659-80225</string>
    <com.liquidlabs.log.space.WatchDirectory>
      <wdId>ds-1432627755659-80225</wdId>
      <tags>FileScannerApp</tags>
      <dirName>./work/FileScannerApp-1.0/*</dirName>
      <hosts></hosts>
      <filePattern>*</filePattern>
      <recurse>false</recurse>
      <isUTC>false</isUTC>
      <timeFormat></timeFormat>
      <flush>false</flush>
      <maxAgeDays>30</maxAgeDays>
      <fileSorter class="com.liquidlabs.log.roll.ContentBasedSorter">
        <lineLimit>50</lineLimit>
        <timeFormat></timeFormat>
        <filePatterns>
          <string>.*</string>
        </filePatterns>
        <cached/>
      </fileSorter>
      <dwEnabled>false</dwEnabled>
      <grokDiscovery>true</grokDiscovery>
      <fieldDiscovery>true</fieldDiscovery>
      <systemFieldsEnabled>true</systemFieldsEnabled>
      <breakRule>Default</breakRule>
      <archivingRules>2,7,Delete</archivingRules>
    </com.liquidlabs.log.space.WatchDirectory>
  </entry>
</tree-map>
<!-- LogSpace Config End -->
<!-- RESOURCE Config Start -->
<tree-map/>
<!-- RESOURCE Config End -->
<!-- USER Config Start -->
<tree-map/>
<!-- USER Config End -->
